<div class="row">
  <div class="col-md-6">
    <%= @animal.name%><br>
    <%= @animal.type%><br>
    <%= @animal.breed%><br>
  </div>
  <div class="col-md-6">
    <h2 class="text-primary">List of Interested Customers</h2>
    <form class="form-group" action="/animal/<%= @animal.id%>" method="post">
      <input type="hidden" name="_method" value="patch">
      <select class="form-control" name="select" id="select">
        <% @i_customers.each do |customer|%>
          <option value="<%= customer.id%>"><%= customer.name%></option>
        <% end %>
      </select>
      <button class="btn" type="submit" name="button">Assign Owner</button>
    </form>
  </div>
</div>
